:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.email-form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.full-height {
  flex: 1;
}

.send-button {
  bottom: 2em;
  position: fixed;
  right: 2em;
}
