<!-- PGP File Input -->
<input #pgpFileInput accept=".pgp" type="file" class="hidden"  (change)="onFileSelected($event)">
<div class="file-upload">
  {{ selectedFile?.name || "No file uploaded yet"}}
   <button mat-stroked-button class="upload-btn"
     (click)="pgpFileInput.click()">
     Upload PGP private key file
   </button>
</div>

<!-- PGP Key Form -->
<form [formGroup]="pgpForm" (submit)="import()">
  <!-- Identities Input -->
  <mat-form-field>
    <mat-label>Identities</mat-label>
    <mat-select matNativeControl autofocus formControlName="identities" required multiple>
      <mat-option *ngFor="let identity of identities" [value]="identity">
        {{ identity.claims.name }} ({{ identity.claims.email }});
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Passphrase Input -->
  <mat-form-field>
    <mat-label>Passphrase</mat-label>
    <input matInput formControlName="passphrase" required type="password">
  </mat-form-field>

  <!-- Import Button -->
  <button mat-stroked-button type="submit">Import</button>
</form>
