<!-- PGP File Input -->
<label>
  <span>PGP Key File</span>
  <br>
  <input #pgpFileInput accept=".pgp" type="file">
</label>

<!-- PGP Key Form -->
<form [formGroup]="pgpForm" (submit)="import()">
  <!-- Identities Input -->
  <mat-form-field>
    <mat-label>Identities</mat-label>
    <mat-select matNativeControl autofocus formControlName="identities" required multiple>
      <mat-option *ngFor="let identity of identities" [value]="identity">
        {{ identity.claims.name }} ({{ identity.claims.email }});
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Passphrase Input -->
  <mat-form-field>
    <mat-label>Passphrase</mat-label>
    <input matInput formControlName="passphrase" required type="password">
  </mat-form-field>

  <!-- Import Button -->
  <button mat-stroked-button type="submit">Import</button>
</form>
