
.email-display-card {
  margin: 2em;
  padding: 2em;
}

.email-display-content {
  padding-top: 2em;
}

.good {
  color: black;
}

.bad {
  color: red;
}

.security-details-button{
  align-self: start;
}

h3{
  margin-bottom: 0;
}

.icon-display {
  transform: scale(2);
  padding: 10px;
}
