


<div *ngIf="email !== undefined">
  <mat-card class="email-display-card">
    
    <mat-card-title>Subject: {{ email.payload.subject }}</mat-card-title>
    <mat-card-subtitle>From: {{email.payload.from }}</mat-card-subtitle>
    <mat-card-subtitle>To: {{ email.payload.to }}</mat-card-subtitle>
    <mat-card-subtitle>Date: {{ email.payload.date }}</mat-card-subtitle>
    
    <mat-card-content class="email-display-content">

      <div [innerHTML]="email.payload.displayText"></div>
    </mat-card-content>

    <mat-list>
      <div mat-subheader>Attachments</div>
      <div *ngFor="let attachment of email.payload.attachments">
        <a [href]="attachment.getDownloadLink()"
          [download]="attachment.fileName">
          {{attachment.fileName}}
        </a>
      </div>
    </mat-list>
  </mat-card>
</div>
<div *ngIf="email === undefined">
  No Email to show
</div>

<button (click)="next()" mat-button [disabled]="disabledNext">
  next
</button>
<button (click)="previous()" mat-button>
  previous
</button>
