<!-- PGP Key Form -->
<form class="pgp-load" [formGroup]="pgpForm">
  <ng-container 
    formArrayName="privateKeys"
    *ngFor="let control of pgpForm.controls.privateKeys.controls; let i = index">
    <div [formGroupName]="i" class="pgp-key">
      
      {{ control.controls.keyId.value }}
      <mat-form-field>
        <mat-label>Passphrase</mat-label>
        <input matInput required formControlName="passphrase" type="password">
      </mat-form-field>

      <button (click)="import(i)" mat-stroked-button>
        import private key
      </button>
    </div>
  </ng-container>
</form>