<h1>hello</h1>



<!-- PGP Key Form -->
<form [formGroup]="pgpForm">
  <!-- Identities Input -->
  <mat-form-field>
    <mat-label>Identities</mat-label>
    <mat-select matNativeControl autofocus formControlName="identity" required>
      <mat-option *ngFor="let identity of identities" [value]="identity">
        {{ identity.claims.name }} ({{ identity.claims.email }});
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngFor="let privateKey of privateKeys">
    {{ privateKey.getKeyID().toHex() }}

    <mat-form-field>
      <mat-label>Passphrase</mat-label>
      <input matInput required type="password">
    </mat-form-field>

    <button (click)="load(privateKey, 'abc')" mat-button>
      load
    </button>

  </div>
</form>