<!-- PGP Key Form -->
<form class="pgp-load" [formGroup]="pgpForm">
  <!-- Identities Input -->
  <mat-form-field>
    <mat-label>Identity</mat-label>
    <mat-select matNativeControl autofocus formControlName="identity" required>
      <mat-option *ngFor="let identity of identities" [value]="identity">
        {{ identity.claims.name }} ({{ identity.claims.email }});
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container 
    formArrayName="privateKeys"
    *ngFor="let control of pgpForm.controls.privateKeys.controls; let i = index">
    <div [formGroupName]="i" class="pgp-key">
      
      {{ control.controls.keyId.value }}
      <mat-form-field>
        <mat-label>Passphrase</mat-label>
        <input matInput required formControlName="passphrase" type="password">
      </mat-form-field>

      <button (click)="load(i)" mat-stroked-button>
        load private key
      </button>
    </div>
  </ng-container>
</form>