
<h3>Add new trustworthy ICT issuer</h3>

<form [formGroup]="trustIctIssuer">
  <!-- Identities Input -->
  <mat-form-field>
    <mat-label>Identity</mat-label>
    <mat-select matNativeControl autofocus formControlName="identity" required>
      <mat-option *ngFor="let identity of identities" [value]="identity">
        {{ identity.claims.name }} ({{ identity.claims.email }});
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Issuer</mat-label>
    <input matInput required formControlName="issuer">
  </mat-form-field>

  <button (click)="trust()" mat-stroked-button>
    trust issuer
  </button>
</form>

<h3>Available trustworthy ICT issuers</h3>

<table mat-table [dataSource]="trustworthyIctIssuers" class="trustworthy-issuers-table">

  <ng-container matColumnDef="identity">
    <th mat-header-cell *matHeaderCellDef> identity </th>
    <td mat-cell *matCellDef="let trustworthyIssuer"> {{ trustworthyIssuer.identity.claims.name }} ({{ trustworthyIssuer.identity.claims.email }}) </td>
  </ng-container>

  <ng-container matColumnDef="issuer">
    <th mat-header-cell *matHeaderCellDef> issuer </th>
    <td mat-cell *matCellDef="let trustworthyIssuer"> {{ trustworthyIssuer.issuer }} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> untrust issuer </th>
    <td mat-cell *matCellDef="let trustworthyIssuer"> 
      <button (click)="untrust(trustworthyIssuer)" mat-stroked-button>
        untrust issuer
      </button>  
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
